.FillHeight {
  box-sizing: border-box;
  height: 100%;
}

.CallNodeTree {
  padding: 16px;
  width: 100%;
}

.CallNodeViewer {
  padding: 16px;
}

.CallNodeStack {
  padding: 16px;
}

.CallNodePath {
  stroke: white !important;
}

.CardTitle {
  margin: 0;
  text-align: center;
}
