@import "../node_modules/antd/dist/antd.dark.css";

.Main {
  height: 100%;
}

.Viewer {
  /* background-color: #167c80; */
  background-color: #1f1135;
  height: 100%;
}

.Tree {
  background-color: #343950;
  height: 100%;
}

.Stack {
  background-color: #37505e;
  height: 100%;
}

.SidebarTrigger {
  position: absolute;
  top: 50%;
  right: -40px;
}

.Hidden {
  display: none;
}

.FileInputContainer {
  position: absolute;
  top: 50%;
  right: 50%;
}
